[Unit]
Description=Microservice to update status for github commits if it has valid Youtrack ticket mentioned
AssertFileIsExecutable=/opt/git/Github-Youtrack-Check/check_spooler.pl

[Service]
EnvironmentFile=/opt/git/Github-Youtrack-Check/envs
ExecStart=/opt/git/Github-Youtrack-Check/check_spooler.pl
Restart=always

[Install]
WantedBy=multi-user.target
